Makefile
Makefile.in
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/install-sh
/m4/
/missing
/mate-wayland-session-*.tar.*
/omf.make
/xmldocs.make
po/*.gmo
po/*.sed
po/*.sin
po/*.header
po/Rules-quot
po/Makevars.template
po/Makefile.in.in
po/POTFILES
po/mate-wayland-session.pot
po/stamp-po
session/MATE.desktop
